# Any private crt and keys #
############################
*.crt
*.key
*~
\#*

# OS Specific #
###############
Thumbs.db
.DS_Store
.vscode

# Logs #
########
*.log

#  JavaScript and TypeScript
/dist/
/lib/
node_modules/
*.log

# keys used in testing
examples/*.public.json
examples/*.private.json
examples/*.key
examples/*.csr
examples/account_private_key.json
examples/.well-known/*
